<!DOCTYPE html>
<html>
<head>
  <title>#Aaron <3 Scott</title>
  <script src="https://unpkg.com/vue"></script>
</head>
<body>
  <div id="app">
    <h1>{{ message }}</h1>
    <button v-on:click="addHashtag">VOTE</button>
    <ul>
      <li v-for="hashtag in hashtags">
        {{ hashtag.title }}
      </li>
    </ul>
    <div v-for="hashtag in hashtags">
      <input type="radio" id="hashtag.title" name="picked" :value="hashtag.title" v-model="picked">
      <label for="hashtag.title">{{ hashtag.title }}</label>
    </div>
    <span>You voted for #{{ picked }}</span>
  </div>

  <script>
    var app = new Vue({
      el: '#app',
      data: {
        message: 'Aaron <3 Scott Wedding Hashtag',
        hashtags: [
          { title: 'AaronPlusScottEqualsILoveYou', count: 7 },
          { title: 'LoveWinsAgainScottAndAaron2021', count: 5 },
          { title: 'BlackOnBlackLove', count: 3 }
        ],
        picked: ''
      },
      methods: {
        addHashtag: function() {
          this.hashtags.push({ title: 'NewHashtagAdded', count: 1 })
        }
      }
    })
  </script>
</body>
</html>
